:global .autoChange {
  width: 100%;
  position: absolute;
  top: 100px;
  left: 0;
  box-sizing: border-box;
  padding: 0 15px;
}

:global .ant-carousel .slick-dots li {
  background: skyblue;
}

:global .ant-carousel .slick-dots li button {
  background: skyblue;
}

:global .ant-carousel .slick-dots li .ant-carousel .slick-slide h3 {
  color: blue;
}

:global img {
  width: 100%;
}

:global .banner {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 30px;
  color: #000;
  z-index: 999;
}

:global .banner a {
  z-index: 99;
}
